.image-item-selected {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 12px;
    margin-top: 1.5rem;
    margin-inline: auto;
}

.order-item {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #f8f9fa;
}

items-quantity-plus {
    border-color: blue;
}

.btn-quantity {
    border: none;
    background-color: none;

}